<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uct.trujillotaste">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrujilloTaste"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".ZonaDos"
            android:exported="false" />
        <activity
            android:name=".ZonaUno"
            android:exported="false" />
        <activity
            android:name=".MocheActivity"
            android:exported="false" />
        <activity
            android:name=".LarcoActivity"
            android:exported="false" />
        <activity
            android:name=".TrujilloActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurantes"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>